<!DOCTYPE html >
<html ng-app="app">
  <head>
    <title>Webhook testing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="eventsController">

    {{eventsData}}
   
    <script src="/javascripts/angular.js" ></script>
    <script src="/javascripts/app.js" ></script>
  </body>
</html>
